* {
  margin: 0px;
  padding: 0px;
}
.container {
  width: 530px;
  border: solid rgb(216, 216, 216) 1px;
  border-radius: 10px;

  padding: 10px;
  margin: 10px;
}

h1 {
  margin: 5px;
}

hr {
  border: none;
  height: 1px;
  background-color: rgb(216, 216, 216);
}
.textbox {
  width: 500px;
  height: 200px;
  border: rgb(216, 216, 216) solid 1px;
  resize: none;

  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.box {
  margin-left: 3px;
}

span {
  font-size: 30px;
  color: rgb(52, 116, 253);
}
